:root{
    --font: 'Raleway', sans-serif;

    --white: #FFFFFF;;
    --black-five:#F5F5F5;
    --black-fifty:#A2A2A2;
    --black-hundred:#464646;

    --blue-hundred:#2A7AE4;
    --blue-eighty: #5595E9;
    --blue-twenty: #D4E4FA;
    --blue-ten:#EAF2FD
}